PORT=3000
PLAYWRIGHT_BROWSER=
CLICK2LEARN_LOGIN_URL=https://your-tenant.csod.com/samldefault.aspx?ouid=2&returnurl=YOUR_RETURN_URL
CLICK2LEARN_HOME_URL=https://your-tenant.csod.com/ui/lms-learner-home/home
CLICK2LEARN_TRANSCRIPT_URL=https://your-tenant.csod.com/phnx/driver.aspx?routename=Social/UniversalProfile/Transcript&TargetUser=
OUTLOOK_COMPOSE_URL=https://outlook.office.com/mail/deeplink/compose
